<a href="https://colab.research.google.com/github/heydefranca/CancerTypePrediction/blob/master/C%C3%B3pia_de_MIRNA_vers%C3%A3o_1D_e_xgboost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1D

In [1]:
from google.colab import drive
import numpy as np
import pandas as pd
import tensorflow as tf
from keras import optimizers, regularizers
from keras.callbacks import ModelCheckpoint
from keras.layers.core import Dense, Dropout
from keras.layers.convolutional import Conv1D, Conv2D, UpSampling2D, Conv2DTranspose
from keras.layers.pooling import MaxPooling2D, GlobalAveragePooling2D, GlobalAveragePooling1D
from keras.layers import Input, Concatenate, add
from keras import optimizers
from sklearn.model_selection import train_test_split
from tensorflow.keras import layers
from tensorflow.keras.layers.experimental import preprocessing
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn import metrics
drive.mount('/content/drive')

Mounted at /content/drive

### Lendo e tratando os dados concatenados de X

In [2]:
concatx_url = '/content/drive/MyDrive/Doutorado/concatx.csv'
df_x = pd.read_csv(concatx_url, sep=";", header=None)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3763) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df_x.head(5)

   0      1      2      3      4     ...  3759  3760   3761    3762    3763
0   NaN      0      1      2      3  ...  3758  3759   3760    3761  classe
1   0.0   8735   8442   8801  23959  ...  8581  8922  49026  155620       1
2   1.0  35173  35187  35476  47475  ...  3464  6595  14393  109649       1
3   2.0  32653  32514  32383  29587  ...  5769  9451  26362  120333       1
4   3.0  63110  63501  63008  75246  ...  2732  8603  17450  118126       1

[5 rows x 3764 columns]

In [11]:
df_x = df_x.drop(3763, 1)
df_x = df_x.drop(0, 1)
df_x = df_x.drop(0, 0)

KeyError: ignored

In [5]:
df_x.head(5)

    1      2      3      4     5     ...  3758  3759  3760   3761    3762
1   8735   8442   8801  23959  7706  ...     0  8581  8922  49026  155620
2  35173  35187  35476  47475  5295  ...     0  3464  6595  14393  109649
3  32653  32514  32383  29587  9656  ...     0  5769  9451  26362  120333
4  63110  63501  63008  75246  6530  ...     0  2732  8603  17450  118126
5  40067  39849  40175  44984  2268  ...     0  4844  8834  10957  154370

[5 rows x 3762 columns]

In [6]:
df_x.dtypes

1       int64
2       int64
3       int64
4       int64
5       int64
        ...
3758    int64
3759    int64
3760    int64
3761    int64
3762    int64
Length: 3762, dtype: object

In [7]:
#df1 = df_x.reindex(columns=['80','173','2384','2750','1688','966','1124','1604','2482','96','2215','1413','2499','3052','1078','181','2276','1333','2146','471'])

In [23]:

import pandas as pd
df1= df_x.iloc[:,[79,172,2383,2749,1687,965,1123,1603,2481,95,2214,1412,2498,3051,1077,180,2275,1332,2145,470]]
#df1= df_x.iloc[:,[80,173,2384,2750,1688,966,1124,1604,2482,96,2215,1413,2499,3052,1078,181,2276,1333,2146,471]]

In [24]:

df1.shape

(552, 20)

In [25]:
df1.head(25)

    80    173   2384  2750  1688  966   ...  1078  181   2276  1333   2146  471
1      2     0     0  3643     0     0  ...     0  1778     0     0  64376  3996
2      0     0     0  1389     0     0  ...     0    72     0     0  39397  2161
3      0     0     0  1166     0     0  ...     0   128     0     0  39004  2589
4      0     0     0  1680     0     0  ...     0    71     0     0  37977  2814
5      0     0     0  2216     0     0  ...     0   125     0     0  39869  4907
6      0     0     0  1376     0     0  ...     0   151     0     0  33619  1622
7      1     0     0  1519     0     0  ...     0    76     0     0  44788  2605
8      0     0     0  2325     0     0  ...     0   192     0     0  57905  2709
9      0     0     0  1537     0     0  ...     0   218     0     0  28166  3969
10     0     0     0  1100     0     0  ...     2   487     0     0  40592  3336
11     0     0     0  1069     0     0  ...     1   184     0     0  50707  4401
12     0     0     0  5135     0     0  ...     0   165     0     0  72165  4792
13     1     0     0  1635     1     0  ...     0    95     0     0  27785  7222
14     0     0     0  2181     0     0  ...     0    42     0     0  30142  3947
15     0     0     0  1192     0     0  ...     0    36     0     0  63971  3607
16     0     0     0  1823     0     0  ...     0   255     0     0  40045  2877
17     0     0     0  1608     0     0  ...     1   283     0     0  30685  2959
18     0     0     0  2360     0     0  ...     0   586     0     0  36653  8331
19     0     0     0  2034     0     1  ...     0    65     0     0  58633  4068
20     0     0     0  2964     0     0  ...     0   141     0     0  45536  1109
21     0     0     0  1632     0     0  ...     1   105     0     0  38781  2094
22     0     0     0  1512     0     0  ...     0   101     0     0  32710  3181
23     0     0     0     0     0     0  ...     0   171     0     0  43210  2581
24     0     0     0  2055     0     0  ...     0    19     0     0  44061  1341
25     0     0     0  1147     0     0  ...     1    33     0     0  34935  1770

[25 rows x 20 columns]

### Lendo e tratando os dados concatenados de Y

In [12]:
concaty_url = '/content/drive/MyDrive/Doutorado/concaty.csv'
df_y = pd.read_csv(concaty_url, sep=";", header=None)

In [13]:
df_y = df_y.drop(0, 1)
df_y = df_y.drop(0, 0)

In [14]:
df_y.head(5)

     1
1  1.0
2  1.0
3  1.0
4  1.0
5  1.0

In [15]:
df_y.shape

(552, 1)

In [16]:
df_y.dtypes

1    float64
dtype: object

In [17]:
df_y= df_y.astype(int)

In [18]:
df_y.dtypes

1    int64
dtype: object

### Separando dados

In [ ]:
df_x= df1
df_x.dtypes
#df_x= df_x.fillna(0)
df_x= df_x.astype(int)

In [ ]:
df_x.dtypes

80      int64
173     int64
2384    int64
2750    int64
1688    int64
966     int64
1124    int64
1604    int64
2482    int64
96      int64
2215    int64
1413    int64
2499    int64
3052    int64
1078    int64
181     int64
2276    int64
1333    int64
2146    int64
471     int64
dtype: object

In [28]:
nonzero_mean = df_x.mean()
nonzero_mean
nonzero_mean1=nonzero_mean.mean()
nonzero_mean1
#df['coloum'] = df['coloum'].replace(['value_1','valu_2'],'new_value')
df_x.replace(0, nonzero_mean1, inplace = True)

In [29]:
df_x

       1       2       3       4     ...    3759  3760   3761    3762
1      8735    8442    8801   23959  ...  8581.0  8922  49026  155620
2     35173   35187   35476   47475  ...  3464.0  6595  14393  109649
3     32653   32514   32383   29587  ...  5769.0  9451  26362  120333
4     63110   63501   63008   75246  ...  2732.0  8603  17450  118126
5     40067   39849   40175   44984  ...  4844.0  8834  10957  154370
..      ...     ...     ...     ...  ...     ...   ...    ...     ...
548   89385   90077   89774  111595  ...  2597.0  7780  35776   91209
549   73982   73715   74196   98333  ...  1970.0  5828  38758  112232
550  141190  140360  141115  130536  ...  3408.0  6431  44412   98377
551   35316   35140   35290   36660  ...  1822.0  7442  20424  117791
552   32882   32986   32952   30216  ...  4492.0  5140  29150  100771

[552 rows x 3762 columns]

In [30]:
df_x.dtypes

1         int64
2         int64
3         int64
4         int64
5         int64
         ...
3758    float64
3759    float64
3760      int64
3761      int64
3762      int64
Length: 3762, dtype: object

In [31]:
df_x= df_x.astype(int)
df_x.head(15)

      1       2       3       4      5     ...  3758  3759   3760   3761    3762
1     8735    8442    8801   23959   7706  ...  3201  8581   8922  49026  155620
2    35173   35187   35476   47475   5295  ...  3201  3464   6595  14393  109649
3    32653   32514   32383   29587   9656  ...  3201  5769   9451  26362  120333
4    63110   63501   63008   75246   6530  ...  3201  2732   8603  17450  118126
5    40067   39849   40175   44984   2268  ...  3201  4844   8834  10957  154370
6    32482   32903   32895   55166   1611  ...  3201  4352   7711  11331  128669
7    46022   46006   45928   52039   2581  ...  3201  5839   7425  10942  104032
8    44832   44466   45042   93954   7679  ...  3201  3001   9079  17189  132956
9    48068   47712   48587   92745   6956  ...  3201  4385   5571  18922  127459
10  140200  139987  140861  117105  24105  ...  3201  4714  10121  20666  102195
11  124440  123704  124228  235792  17369  ...  3201  5224   8145  17587  131179
12   32831   32514   32767   59680   4742  ...  3201  5633   7148  16330  126458
13   65669   65082   66085   85241   1055  ...  3201  5565   5607   5732  142048
14   24586   24747   25013   17756   3131  ...  3201  5443   8270  17859  136661
15   65902   65596   66042  101287  10119  ...  3201  4041   6384  19386  102199

[15 rows x 3762 columns]

In [32]:
x_training, x_validation, y_training, y_validation = train_test_split(df_x, df_y, test_size=0.1, random_state=5)

In [33]:
x_training.shape

(496, 3762)

### Criando o modelo

In [56]:
from xgboost.sklearn import XGBClassifier
from sklearn.metrics import mean_squared_error as mse
import tensorflow as tf
from tensorflow.keras.optimizers import SGD, Adam
from tensorflow.keras.layers import MaxPool1D
from keras.optimizer_v2.adam import Adam as Adam
from keras.models import Sequential, Model
Adam = tf.keras.optimizers.Adam
Adam = tf.keras.optimizers.Adam
inputs = Input(shape=((x_training.shape[1], 1)))

conv1 = Conv1D(8, 3, padding='same', activation='relu')(inputs)
conv2 = Conv1D(16, 3, padding='same', activation='relu')(conv1)
#pool1 = GlobalAveragePooling1D()(conv2)
pool1= MaxPool1D()(conv2)
dense1 = Dense(100, activation='relu')(conv2)
drop1 = Dropout(0.2)(dense1)
dense2 = Dense(100, activation='relu')(drop1)
drop2 = Dropout(0.2)(dense2)
#outputs= XGBClassifier(max_depth=30, learning_rate=0.1, n_estimators=100, verbosity=1, silent=None, objective="binary:logistic", booster='gbtree', n_jobs=1, nthread=None, gamma=0)(drop2)
outputs = Dense(1, activation='softmax')(drop2)

model = tf.keras.Model(inputs, outputs)

# print (model.summary())
opt = SGD(lr=0.01, momentum=0.9)
#sgd = SGD(learning_rate=0.001, nesterov=True);
custom_adam =tf.keras.optimizers.Adam(lr=0.05, decay=0.9, amsgrad=True)
#model.compile(loss=tf.keras.losses.BinaryCrossentropy(from_logits=True), optimizer='adam', metrics=['acc', 'mae'])
##model.compile(loss=tf.keras.losses.BinaryCrossentropy(reduction='none'), optimizer=custom_adam, metrics=['accuracy'])
#model.compile(loss='mean_absolute_error', optimizer=sgd)
#model.compile(loss='mse', optimizer='adam', metrics=['acc', 'mae'])
#tf.keras.utils.plot_model(model, show_shapes=True, rankdir="LR")
model_dense2_output = Model(inputs=inputs, outputs=dense2)



adam = Adam(lr=1e-4)

# We add metrics to get more results you want to see
model.compile(optimizer=adam,loss='binary_crossentropy',metrics=['accuracy'])

print('Training ------------')
# Another way to train the model
model.fit(x_training, y_training, epochs=1, batch_size=16)

print('\nTesting ------------')
# Evaluate the model with the metrics we defined earlier
loss, accuracy = model.evaluate(x_validation, y_validation)

print('\ntest loss: ', loss)
print('\ntest accuracy: ', accuracy)


#with xgboost
import xgboost
import pandas as pd
import numpy as np
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC,LinearSVC
from sklearn.model_selection import GridSearchCV
import xgboost as xgb



data_dmatrix = xgb.DMatrix(df_x,label=df_y)
data_dmatrix
X_train_xg = model_dense2_output.predict(data_dmatrix)
X_test_xg = model_dense2_output.predict(x_validation)
print(np.array(X_train_xg).shape)
print(np.array(y_training).shape)


dataset = xgboost.XGBClassifier(X_train_xg, label=y_training)
watchlist = [(data_dmatrix, 'train')]
params = {'max_depth':7, 'eta':0.1, 'silent':1, 'num_class':1,'objective':'multi:softmax' } 
model_xg = xgboost.train(params, dataset, num_boost_round=150, evals=watchlist)


test_x = xgboost.XGBClassifier(x_validation)
result = model_xg.predict(x_training)
#print(t)
#m = LogisticRegression()
#m = SVC(kernel='rbf',decision_function_shape='ovr')
#m.fit(X,y)
#print(m)

print(metrics.classification_report(y_validation, result))
print(metrics.confusion_matrix(y_validation, result))

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier()

/usr/local/lib/python3.7/dist-packages/keras/optimizer_v2/gradient_descent.py:102: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(SGD, self).__init__(name, **kwargs)
/usr/local/lib/python3.7/dist-packages/keras/optimizer_v2/adam.py:105: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Adam, self).__init__(name, **kwargs)

AttributeError: ignored

In [48]:
# multiclass classification
import pandas
import xgboost
from sklearn import model_selection
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
model = xgboost.XGBClassifier()
model.fit(x_training, y_training)
print(model)
# make predictions for test data
y_pred = model.predict(x_validation)
predictions = [round(value) for value in y_pred]
# evaluate predictions
accuracy = accuracy_score(y_validation, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

print(metrics.classification_report(y_validation, predictions))
print(metrics.confusion_matrix(y_validation, predictions))

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier()
Accuracy: 96.43%
              precision    recall  f1-score   support

           0       1.00      0.33      0.50         3
           1       0.96      1.00      0.98        53

    accuracy                           0.96        56
   macro avg       0.98      0.67      0.74        56
weighted avg       0.97      0.96      0.96        56

[[ 1  2]
 [ 0 53]]

### Treinando o modelo

In [ ]:
from keras.callbacks import ModelCheckpoint, EarlyStopping
model.fit(x_training, y_training, epochs=50, validation_split=0.3, shuffle=True, validation_data=(x_validation,y_validation), callbacks=[EarlyStopping(monitor='val_loss', patience=15)] )

Epoch 1/50
11/11 [==============================] - 1s 31ms/step - loss: 1.1942 - accuracy: 0.9222 - val_loss: 1.0386 - val_accuracy: 0.9329
Epoch 2/50
11/11 [==============================] - 0s 9ms/step - loss: 1.1872 - accuracy: 0.9222 - val_loss: 1.0386 - val_accuracy: 0.9329
Epoch 3/50
11/11 [==============================] - 0s 10ms/step - loss: 1.2011 - accuracy: 0.9222 - val_loss: 1.0386 - val_accuracy: 0.9329
Epoch 4/50
11/11 [==============================] - 0s 9ms/step - loss: 1.1872 - accuracy: 0.9222 - val_loss: 1.0386 - val_accuracy: 0.9329
Epoch 5/50
11/11 [==============================] - 0s 9ms/step - loss: 1.1872 - accuracy: 0.9222 - val_loss: 1.0386 - val_accuracy: 0.9329
Epoch 6/50
11/11 [==============================] - 0s 8ms/step - loss: 1.1872 - accuracy: 0.9222 - val_loss: 1.0386 - val_accuracy: 0.9329
Epoch 7/50
11/11 [==============================] - 0s 9ms/step - loss: 1.1594 - accuracy: 0.9222 - val_loss: 1.0386 - val_accuracy: 0.9329
Epoch 8/50
11/11 [==============================] - 0s 8ms/step - loss: 1.1803 - accuracy: 0.9222 - val_loss: 1.0386 - val_accuracy: 0.9329
Epoch 9/50
11/11 [==============================] - 0s 9ms/step - loss: 1.1872 - accuracy: 0.9222 - val_loss: 1.0386 - val_accuracy: 0.9329
Epoch 10/50
11/11 [==============================] - 0s 10ms/step - loss: 1.2011 - accuracy: 0.9222 - val_loss: 1.0386 - val_accuracy: 0.9329
Epoch 11/50
11/11 [==============================] - 0s 9ms/step - loss: 1.1872 - accuracy: 0.9222 - val_loss: 1.0386 - val_accuracy: 0.9329
Epoch 12/50
11/11 [==============================] - 0s 9ms/step - loss: 1.1942 - accuracy: 0.9222 - val_loss: 1.0386 - val_accuracy: 0.9329
Epoch 13/50
11/11 [==============================] - 0s 10ms/step - loss: 1.1872 - accuracy: 0.9222 - val_loss: 1.0386 - val_accuracy: 0.9329
Epoch 14/50
11/11 [==============================] - 0s 9ms/step - loss: 1.1733 - accuracy: 0.9222 - val_loss: 1.0386 - val_accuracy: 0.9329
Epoch 15/50
11/11 [==============================] - 0s 8ms/step - loss: 1.1803 - accuracy: 0.9222 - val_loss: 1.0386 - val_accuracy: 0.9329
Epoch 16/50
11/11 [==============================] - 0s 10ms/step - loss: 1.2011 - accuracy: 0.9222 - val_loss: 1.0386 - val_accuracy: 0.9329

In [ ]:
model.evaluate(x_validation, y_validation)

2/2 [==============================] - 0s 5ms/step - loss: 0.7625 - accuracy: 0.9464

[0.7624620199203491, 0.9464285969734192]

### Realizando predições

In [ ]:
#y_pred = model.predict(x_validation)
y_pred = model.predict(x_training, verbose=0)
y_pred=y_pred.astype(int)
y_pred

array([[[1],
        [1],
        [1],
        ...,
        [1],
        [1],
        [1]],

       [[1],
        [1],
        [1],
        ...,
        [1],
        [1],
        [1]],

       [[1],
        [1],
        [1],
        ...,
        [1],
        [1],
        [1]],

       ...,

       [[1],
        [1],
        [1],
        ...,
        [1],
        [1],
        [1]],

       [[1],
        [1],
        [1],
        ...,
        [1],
        [1],
        [1]],

       [[1],
        [1],
        [1],
        ...,
        [1],
        [1],
        [1]]])

In [ ]:
y_pred.shape

(496, 20, 1)

In [ ]:
import pandas as pd
y_pred1= y_pred[:, [0]]

In [ ]:
y_pred1.shape

(496, 1, 1)

In [ ]:
ypred=y_pred1[:,0]

In [ ]:
y_pred1= y_pred[:, [0]]

In [ ]:
def column(matrix, i):
    return [row[i] for row in matrix]

In [ ]:
yp=column(y_pred1, 0)

In [ ]:
ypred= pd.DataFrame(yp)

In [ ]:
ypred.shape

(496, 1)

In [ ]:
ypred.dtypes

0    int64
dtype: object

In [ ]:
y_training.shape

(496, 1)

In [ ]:
y_training.dtypes

1    int64
dtype: object

In [ ]:
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
accuracy_score(y_training, ypred)
print (classification_report(y_training, ypred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00        37
           1       0.93      1.00      0.96       459

    accuracy                           0.93       496
   macro avg       0.46      0.50      0.48       496
weighted avg       0.86      0.93      0.89       496

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

### Avaliando métricas

In [ ]:
model.summary()

Model: "model_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_9 (InputLayer)        [(None, 20, 1)]           0

 conv1d_16 (Conv1D)          (None, 20, 8)             32

 conv1d_17 (Conv1D)          (None, 20, 16)            400

 dense_24 (Dense)            (None, 20, 100)           1700

 dropout_16 (Dropout)        (None, 20, 100)           0

 dense_25 (Dense)            (None, 20, 100)           10100

 dropout_17 (Dropout)        (None, 20, 100)           0

 dense_26 (Dense)            (None, 20, 1)             101

=================================================================
Total params: 12,333
Trainable params: 12,333
Non-trainable params: 0
_________________________________________________________________

Matriz de confusão

In [ ]:
confusion_matrix(y_training, ypred)

array([[  0,  37],
       [  0, 459]])

Precisão

In [ ]:
precision_score(y_training, ypred, average='macro')

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

0.4627016129032258

Recall

In [ ]:
recall_score(y_training, ypred, average='macro')

0.5

In [ ]:
f1_score(y_training, ypred, average=None)

array([0.        , 0.96125654])